/* 
Оформление текста, цвета, эффекты фокусировки и наведения
background-color - для отображения белого цвета шрифта */

:root {
  --primary-text-color: #212121;
  --ordinary-text-color: #757575;
  --title-text-color: #ffffff;
  --accent-text-color: #2196f3;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --background-text-color: rgba(33, 150, 243, 0.9);
  --background-color: lightblue;
}

body {
  font-family: Roboto, serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--background-color);
}

/* .container:not(:last-child, :first-child) {
  margin-bottom: 94px;
} */

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1630px;
  padding-left: 215px;
  padding-right: 215px;
}

h2,
/* h3, */
ul,
menu,
p {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  color: var(--primary-text-color);
}

ul,
menu {
  list-style: none;
}

address {
  font-style: normal;
}

/* Хедер*/

.page-header {
  display: flex;
  margin-top: 0;
  padding-top: 25px;
}

.main-nav,
.logo-header,
.site-menu,
.contacts {
  display: inline-flex;
  align-items: center;
}

.logo-header {
  margin-right: 80px;
}

.site-menu {
  margin-right: 280px;
}

.site-menu-list {
  margin-right: 50px;
}

.contacts-list {
  margin-left: 30px;
}

.site-menu-list,
.contacts-list {
  text-decoration: none;
}

.site-menu-list:hover,
.contacts-list:hover,
.site-menu-list:focus,
.contacts-list:focus {
  color: var(--accent-text-color);
}

h1 {
  margin: 0 auto;

  color: var(--title-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero > h1 {
  width: 650px;
}

p,
.contacts-list {
  color: var(--ordinary-text-color);
}

.site-menu {
  font-weight: 500;
  letter-spacing: 0.02em;
}

.contacts {
  margin-left: auto;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.hero-button {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  border-radius: 4px;
  padding: 10px 32px;

  color: var(--title-text-color);
  background-color: var(--accent-text-color);
  /* border-color: rgba(0, 0, 0, 0.25); */

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

.logo-header,
.logo-footer {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo-accent {
  color: #2196f3;
}

.logo-footer {
  margin-bottom: 10px;
  font-size: 22px;
  line-height: 1.18;
  color: var(--title-text-color);
}

/* Work */

.work-accents li:not(:last-child),
.applications li:not(:last-child),
.teampeople li:not(:last-child),
.clients li:not(:last-child) {
  margin-right: 30px;
}

.work-accents {
  margin-top: 94px;
}

.work-accents ul {
  display: inline-flex;
  /* justify-content: space-between; */
  padding-left: 0;
}

.work-accents li {
  width: 278px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* justify-content: space-between; */
  /* outline: 2px solid tomato; */
}

.work-accents h3 {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: inherit;
  line-height: inherit;
  text-transform: uppercase;
}

.work-accents-p {
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.work-groups {
  color: var(--title-text-color);
  text-transform: uppercase;
}

/* Приложения */

.applications {
  margin-top: 94px;
}

.applications ul {
  display: inline-flex;
  justify-content: space-between;
  margin-top: 50px;
  padding-left: 0;
}

.applications li {
  width: 380px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

.applications h2,
.teampeople h2,
.clients h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.applications h3 {
  font-size: inherit;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}

/* Наша команда */

.teampeople {
  margin-top: 94px;
}

.teampeople ul {
  display: inline-flex;
  justify-content: space-between;
  margin-top: 50px;
  padding-left: 0;
}

.teampeople li {
  width: 278px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

.teampeople h3 {
  margin-top: 30px;
  margin-bottom: 10px;
}

.teampeople h3,
.teampeople p {
  font-size: 16px;
  line-height: 1.36;
  text-align: center;
}

.teampeople h3 {
  font-weight: 500;
}

/* Постоянные клиенты */

.clients {
  margin-top: 94px;
  margin-bottom: 94px;
}

.clients ul {
  display: inline-flex;
  justify-content: space-between;
  margin-top: 50px;
  padding-left: 0;
}

.clients li {
  width: 175px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Футер */
.page-footer {
  padding-top: 48px;
  padding-bottom: 21px;
  /* outline: 2px solid tomato; */
  background-color: #2f303a;
}

.studio-info,
.studio-info .address,
.social-links,
.social-links ul,
.social-links li,
.subscription,
.subscription li {
  display: inline-flex;
  /* justify-content: space-between; */
  /* margin-top: ; */
  /* padding-left: 0; */
}

.studio-info {
  margin-right: 179px;
  flex-direction: column;
}

.studio-info ul {
  padding-left: 0;
}

b {
  font-weight: 700;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.footer-address,
.footer-address-box {
  line-height: 1.71;
}

.footer-address > a {
  margin-top: 9px;
  line-height: 24px;
  color: var(--title-text-color);
  text-decoration: none;
}

.footer-address-box > a,
.footer-developed {
  color: var(--footer-text-color);
  text-decoration: none;
}

.social-links {
  width: 207px;
  margin-right: 100px;
}

.subscription {
  flex-direction: column;
}

.email {
  margin-top: 21px;
  width: 270px;
  border-radius: 4px;
  height: 50px;

  border-color: lightgray;
}

.mail-button {
  width: 200px;
  height: 50px;

  margin-top: 21px;
  margin-left: 12px;
  padding: 10px 45px;
  border-radius: 4px;
  /* align-items: center; */

  color: var(--title-text-color);
  background-color: var(--accent-text-color);
  border-color: var(--background-text-color);

  font-family: inherit;
  font-weight: 900;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
}

.footer-developed {
  font-size: 12px;
  line-height: 2;
  text-align: center;
}

/* Портфолио */

.portfolio-works .container {
  margin-top: 94px;
  margin-bottom: 94px;
}

menu.portfolio-navigation,
.portfolio-works-list {
  padding-left: 0;
}

.portfolio-works-list {
  margin-top: 34px;
}

.portfolio-works-list,
.portfolio-works-list li {
  display: inline-flex;
  flex-wrap: wrap;
}

.portfolio-works-list li:not(:nth-child(3n)) {
  margin-right: 30px;
}

.portfolio-works-list li:nth-child(-n + 6) {
  margin-bottom: 30px;
}

.portfolio-works-list li {
  width: calc((100% - 2 * 30px) / 3);
  display: flex;
  flex-direction: column;
}

p.portfolio-works.hover-text {
  display: none;
}

.portfolio-navigation,
.portfolio-navigation li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.portfolio-works-title {
  padding: 20px 24px;
  background-color: rgba(47, 48, 58, 0.8);
}

.portfolio-works a {
  text-decoration: none;
}

.portfolio-navigation button:hover,
.portfolio-navigation button:focus {
  background-color: var(--accent-text-color);
  color: var(--title-text-color);
}

.portfolio-navigation li:not(:last-child) {
  margin-right: 8px;
}

.portfolio-navigation button {
  border-radius: 4px;
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  background: #f5f4fa;
}

.portfolio-works-list h2 {
  font-size: 18px;
  line-height: 2;
}

.portfolio-works-p {
  font-size: 16px;
  line-height: 1.88;
}

/* Для позиционирования в футере

 .footer-social-links {
  display: flex;
  width: 207px;
  justify-content: space-between; 
  
  .footer-social-links:not(:last-child){ margin-right: 10px;*/
